{
  "extends": ["next/core-web-vitals"],
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "@next/next/no-img-element": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.ts", "test/testHelpers/**/*.ts"],
      "plugins": ["jest", "no-only-tests", "no-loops"],
      "extends": ["plugin:jest/recommended"],
      "settings": {
        "jest": {
          "globalPackage": "bun:test",
          "version": 29
        }
      },
      "rules": {
        "no-only-tests/no-only-tests": "error",
        "jest/consistent-test-it": ["error", { "fn": "test" }],
        "@typescript-eslint/consistent-type-assertions": [
          "error",
          {
            "assertionStyle": "never"
          }
        ],
        "no-loops/no-loops": "error"
      }
    },
    {
      "files": ["**/*.ts"],
      "excludedFiles": ["**/*.test.ts", "test/e2e/testHelpers/**/*.ts"],
      "rules": {
        "no-restricted-syntax": [
          "error",
          {
            "selector": "CallExpression[callee.name=\"expect\"]",
            "message": "`expect` is not allowed in non-test files."
          }
        ]
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
          "typescript-bun": {
            "project": "./tsconfig.json",
            "alwaysTryTypes": true
          }
        }
      },
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-empty-function": [
          "error",
          { "allow": ["arrowFunctions"] }
        ],
        "@typescript-eslint/no-non-null-assertion": "error",
        "@typescript-eslint/consistent-type-assertions": [
          "error",
          {
            "assertionStyle": "never"
          }
        ],
        "react/no-unknown-property": [
          2,
          {
            "ignore": ["jsx", "global"]
          }
        ]
      }
    }
  ]
}
